<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon">
    <title>bypass_bot</title>
</head>
<body>
    <div class="container">
        <div class="main">
            <h1>Forward me a Linkvertise link,<br> I'll handle the rest.</h1>
            <p class="">No more annoying ads to get to your destination, Enjoy a new experience on Telegram with no hassle!</p>
            <a class="button" href="https://t.me/tele_bypass_bot">Get on telegram</a>
        </div>
        
        <footer class=".footer">
            <p>© 2022 <span><img width="30px" src="./assets/github.png" alt="github"></span> <a href="https://www.github.com/rafa763">Rafa763</a></p>
        </footer>
        
    </div>
</body>
</html>